[include toolchanger/readonly-configs/toolchanger-include.cfg]




#####################################################################
# MCU & Printer Base Settings
#####################################################################
[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_45001A000F50415833323520-if00
restart_method: command

[mcu EBBCan]
canbus_uuid: b33aeef36a93

[printer]
kinematics: corexy
max_velocity: 500
max_accel: 7000
square_corner_velocity: 5.0
max_z_velocity: 75
max_z_accel: 200

[virtual_sdcard]
path: ~/printer_data/gcodes

[pause_resume]
[display_status]

#####################################################################
# Stepper Configuration
#####################################################################
[stepper_x]
step_pin: PB13
dir_pin: !PB12
enable_pin: !PB14
microsteps: 16
rotation_distance: 40
homing_retract_dist: 0
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_endstop: -33
position_min: -33
position_max: 388
homing_speed: 40

[tmc2209 stepper_x]
uart_pin: PC11
tx_pin: PC10
uart_address: 0
run_current: 1.1
stealthchop_threshold: 999999
sense_resistor: 0.110
diag_pin: PC0
driver_SGTHRS: 100

[stepper_y]
step_pin: PB10
dir_pin: !PB2
enable_pin: !PB11
microsteps: 16
rotation_distance: 40
homing_retract_dist: 0
endstop_pin: tmc2209_stepper_y:virtual_endstop
position_endstop: 341
position_min: -43
position_max: 341
homing_speed: 30

[tmc2209 stepper_y]
uart_pin: PC11
tx_pin: PC10
uart_address: 2
run_current: 1.1
stealthchop_threshold: 999999
sense_resistor: 0.110
diag_pin: PC1
driver_SGTHRS: 80

[stepper_z]
step_pin: PB0
dir_pin: !PC5
enable_pin: !PB1
microsteps: 16
rotation_distance: 4
endstop_pin: ^!PC2
position_endstop: -0.225
position_min: -2.0
position_max: 415

#####################################################################
#   Latching Servo
#####################################################################
[servo myservo]
pin: PC14
maximum_servo_angle: 180
minimum_pulse_width: 0.0005
maximum_pulse_width: 0.0024
initial_angle: 0  # Should start in the Unlocked/Open position

#####################################################################
#   Testing Macros
#####################################################################
[gcode_macro LATCH_LOCK]
gcode:
    SET_SERVO SERVO=myservo ANGLE=180

[gcode_macro LATCH_UNLOCK]
gcode:
    SET_SERVO SERVO=myservo ANGLE=0

#####################################################################
# Tool & Heater Configuration
#####################################################################
[extruder]
step_pin: PB3
dir_pin: PB4
enable_pin: !PD1
microsteps: 16
rotation_distance: 4.637
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PC8
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA0
control: pid
pid_Kp: 26.833
pid_Ki: 1.844
pid_Kd: 97.604
min_temp: 0
max_temp: 280

[heater_bed]
heater_pin: PC9
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
control: pid
pid_Kp: 54.027
pid_Ki: 0.770
pid_Kd: 948.182
min_temp: 0
max_temp: 130

# #####################################################################
# # Probe & Fans
# #####################################################################
# [probe]
# pin: ^EBBCan:PB8
# z_offset: 2.405
# speed: 5

[fan_generic partfan_t0]
pin: PC6

# #####################################################################
# # Homing & Safety Macros
# #####################################################################
# [homing_override]
# axes: xyz
# set_position_z: 0
# gcode:
#     G91
#     G1 Z10 F2200
#     G90
#     SET_TMC_CURRENT STEPPER=stepper_x CURRENT=0.8
#     SET_TMC_CURRENT STEPPER=stepper_y CURRENT=0.8
#     G28 X
#     G1 X-28.5 F3000
#     M400
#     G28 Y
#     G4 P2000
#     G28 Z
#     SET_TMC_CURRENT STEPPER=stepper_x CURRENT=1.1
#     SET_TMC_CURRENT STEPPER=stepper_y CURRENT=1.1
#     SAFE_SEEK_PROBE

# [gcode_macro SAFE_SEEK_PROBE]
# gcode:
#     G90
#     G1 Z15 F1200
#     G1 X-28.5 Y300 F12000
#     M400
#     QUERY_PROBE
#     _DO_SAFE_PROBE

[gcode_macro _DO_SAFE_PROBE]
gcode:
    {% if printer.probe.last_query %}
        { action_raise_error("PROBE ERROR: Sensor triggered! Check nozzle/probe clearance.") }
    {% else %}
        G1 Z9.5 F1200
        PROBE SPEED=2 SAMPLES=1
        G1 Z15 F1200
    {% endif %}

#####################################################################
# Basic UI Macros
#####################################################################
[gcode_macro CANCEL_PRINT]
rename_existing: CANCEL_PRINT_BASE
gcode:
    TURN_OFF_HEATERS
    CANCEL_PRINT_BASE

[gcode_macro PAUSE]
rename_existing: PAUSE_BASE
gcode:
    PAUSE_BASE

[gcode_macro RESUME]
rename_existing: RESUME_BASE
gcode:
    RESUME_BASE