# USER OVERRIDES FOR KTC-EASY
# This file configures your specific hardware for the Toolchanger logic.

[rounded_path]
resolution: 0.2
replace_g0: False

[force_move]
enable_force_move: True

[toolchanger]
# These paths represent the physical movement to dock/undock
params_dropoff_path: [{'y':9.5 ,'z':4}, {'y':9.5, 'z':2}, {'y':5.5, 'z':0}, {'z':0, 'y':0, 'f':0.5}, {'z':-10, 'y':0}, {'z':-10, 'y':16}]
params_pickup_path: [{'z':-10, 'y':16}, {'z':-10, 'y':0}, {'z':0, 'y':0, 'f':0.5, 'verify':1}, {'y':5.5, 'z':0}, {'y':9.5, 'z':2}, {'y':9.5 ,'z':4}]
params_safe_y: 120
params_close_y: 30
params_fast_speed: 10000
params_path_speed: 900
require_tool_present: True 

[tool_probe T0]
pin: ^EBBCan:PB8
tool: 0
z_offset: 2.405

[gcode_macro homing_override_config]
variable_sensorless_x: True
variable_sensorless_y: True
variable_homing_rebound_y: 20
variable_stepper_driver: "tmc2209"
variable_homing_current: 0.8
variable_z_hop: 10.0

[gcode_macro _PICKUP_TOOL]
gcode:
    LATCH_LOCK

[gcode_macro _DROPOFF_TOOL]
gcode:
    LATCH_UNLOCK

[tool_probe T0]
pin: ^EBBCan:PB8
z_offset: 2.405